* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
a {
    background-color: transparent;
    color: #1e6bb8;
    text-decoration: none;
}

.page-header {
    background-color: #159957;
    background-image: linear-gradient(to top, rgb(0, 4, 40), rgb(0, 78, 146));
    color: #fff;
    text-align: center;
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}
.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn + .btn {
    margin-left: 1rem;
}

.main-content {
    word-wrap: break-word;
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
}

.site-footer .site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
    }

    .project-name {
        font-size: 3.25rem;
    }
    .project-tagline {
        font-size: 1.25rem;
    }

    .btn {
        padding: 0.75rem 1rem;
    }

    .main-content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
    
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
    .page-header {
        padding: 3rem 4rem;
    }

    .project-name {
        font-size: 2.25rem;
    }
    .project-tagline {
        font-size: 1.15rem;
    }

    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }

    .main-content {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }
    
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
    }
     
    .project-name {
        font-size: 1.75rem;
    }
    .project-tagline {
        font-size: 1rem;
    }

    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
    
    .site-footer {
        font-size: 0.9rem;
    }
}
